params {
  queryFasta = "$launchDir/data/nuc.fa"
  fastaSubsetSize = 1
  genomeFasta = "$launchDir/data/genome.fa"
  dbType = "dna"
  queryType = "dna"
  outputDir = "$launchDir/results"
  outputFileName = "output.psl"
}

process {
    maxForks = 1

    withName: runBlat {
        ext.args = "-dots=10 -maxIntron=50"
  }
}



includeConfig "$baseDir/conf/docker.config"
