params {
  seqFile = "$launchDir/data/nuc.fa"
  fastaSubsetSize = 1
  // TODO: Work in functionality for supplying multiple 2bit files
  databasePath = "$launchDir/data/database/testPcr.2bit"
  maxIntron = 50
  dbType = "dna"
  queryType = "dna"
  blatParams = ""
  trans = false
  outputDir = "$launchDir/results"
}
process {
  container = 'veupathdb/blat:latest'
}
docker {
    enabled = true
}