params {
  queryFasta = "$launchDir/data/nuc.fa"
  fastaSubsetSize = 1
  genomeFasta = "$launchDir/data/database/testPcr.2bit"
  maxIntron = 50
  dbType = "dna"
  queryType = "dna"
  blatParams = ""
  outputDir = "$launchDir/results"
}
process {
  container = 'veupathdb/blat:latest'
}
docker {
    enabled = true
}
